.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-auto-rows: auto; /* Automatically set row height */
  gap: 25px; /* Space between grid items */
  width: 80%; /* Adjust the container width as needed */
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  background-color: #f0f0f0; /* Background color for grid items */
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.css-1wy0on6 {
  display: none !important;
}
.css-19bb58m {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.css-hlgwow {
  padding: 0 !important;
}
.css-x7g52-control:hover {
  border: none;
}
.createBtn {
  float: right;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  background-color: #212121;
  color: white;
}
p {
  margin: 0;
}
