.container {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0px 100px;
  padding: 0px 20px;
  box-sizing: border-box;
  @media (min-width: 1440px) {
    max-width: 1340px;
  }
}
.titleName {
  text-align: center;
  font-size: 28px;
}

.tableHeading {
  border: 1px solid #ddd;
  padding: 8px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%; /* Remove max-width for smaller screens */
    margin: 0; /* Remove margins for smaller screens */
    padding: 0; /* Remove padding for smaller screens */
  }
}
.responsiveTable th,
.responsiveTable td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 767px) {
  .responsiveTable th,
  .responsiveTable td {
    padding: 10px;
    font-size: 14px;
  }
}
